<app-navbar></app-navbar>

<app-sidebar></app-sidebar>

<!-- Content Start -->
<div class="content">
    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4" >
                <div class="searching">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="search  ">
                  </div>
            </div>
            
            <div class="table-responsive">
                
                
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                      <tr>
                        
                        <th>Price</th>
                        <th>Sell Date</th>
                        <th>City</th>
                        <th>Contract Sell</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let contract of list | filter:searchText | paginate 
                      : {
                          itemsPerPage: tableSize,
                          currentPage: page,
                          totalItems: count 
                        };
                         let x = index ">
                        
                        <td>{{ contract.price }}</td>
                        <td>{{ contract.selldate | date }}</td>
                        <td>{{ contract.city }}</td>
                        <td>{{ contract.contractSell }}</td>
                        
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-center">
                    <pagination-controls
                      previousLabel="Prev"
                      nextLabel="Next"
                      (pageChange)="onTableDataChange($event)"
                    >
                    </pagination-controls>
                  </div>
                
                </div>
        </div>
    </div>
    <!-- Recent Sales End -->
</div>