<!DOCTYPE html>
<html lang="zxx">
    <app-navbarfront></app-navbarfront>
<body class="inner-pages maxw1600 m0a dashboard-bd">
    <form  (ngSubmit)="addoffer()">
<div class="single-add-property">
    <h3>Créer une annonce</h3>
    <div class="property-form-group">
        
        
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <label for="title">Property Title</label>
                        <input type="text" name="title" id="title" placeholder="Enter your property title" class="form-control" [(ngModel)]="Selleroffer.title" required>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <label for="description">Property Description</label>
                        <textarea id="description" name="pro-dexc" placeholder="Describe about your property" class="form-control" [(ngModel)]="Selleroffer.description" required></textarea>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 dropdown faq-drop">
                    <div class="form-group categories">
                        <label for="type-offer">Type d'offre :</label>
                        <select class="form-control" name="typeoffer" id="typeoffer" [(ngModel)]="Selleroffer.typeoffer">
                            <option *ngFor="let type of typesOffre" [value]="type">{{ type }}</option>
                          </select>
                    </div>
                </div>
               
               
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p class="no-mb">
                        <label for="price">Price</label>
                        <input type="text" name="price" placeholder="USD" id="price" class="form-control" [(ngModel)]="Selleroffer.price" required>
                    </p>
                </div>
                <div class="col-lg-6 col-md-12">
                    <p class="no-mb last">
                        <label for="area">Date de mise en vente</label>
                        <input type="date" name="date" placeholder="date de mise en vente" id="date" class="form-control" [(ngModel)]="Selleroffer.datesell" required>
                    </p>
                </div>
            </div>
        
    </div>
</div>
<div class="single-add-property">
    <h3>property Media</h3>
    <div class="property-form-group">
        <div class="row">
            <div class="form-floating mb-4">
                <input type="file" (change)="onFileSelected($event)">
                
                                             
            </div>
        </div>
    </div>
</div>
<div class="single-add-property">
    <h3>Additional Information</h3>
    <div class="property-form-group">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>
                    <label for="address">Address</label>
                    <input type="text" name="address" placeholder="Enter Your Address" id="address" class="form-control" [(ngModel)]="Selleroffer.address" required>
                </p>
            </div>
            <div class="col-lg-6 col-md-12">
                <p class="no-mb last">
                    <label for="area">Surface</label>
                    <input type="text" name="surface" placeholder="surface en m²" id="surface" class="form-control" [(ngModel)]="Selleroffer.surface" required>
                </p>
            </div>
        </div>
       
        </div>
        
    </div>
    <div class="add-property-button pt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="prperty-submit-button">
                    <button  type="submit"  class="btn btn-primary">Envoyer</button>
                
                </div>
            </div>
        </div>
    
    </div>

    </form>


<app-footer></app-footer>
<!-- Wrapper / End -->
</body>


<!-- Mirrored from code-theme.com/html/findhouses/add-property.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Apr 2023 19:21:15 GMT -->
</html>
