
<app-navbarfront></app-navbarfront>
<br> 
<br> 
<br> 
<br> <br> 
<br> 
<br> 
<br> <br> 
<br> 
<br> 
<br> 
	<div class="container">
		<h1>Contract Détails</h1>
		<table>
			<tr>
				<td>Prix :</td>
				<td>{{contrat.price}}</td>
			</tr>
			<tr>
				<td>Date de début :</td>
				<td>{{contrat.startdate}}</td>
			</tr>
			<tr>
				<td>Date de fin :</td>
				<td>{{contrat.enddate}}</td>
			</tr>
			<tr>
				<td>Number of Months :</td>
				<td>{{contrat.nbmonth}}</td>
			</tr>
		</table>
	</div>
    <br> 
    <br> 
    <br> 
    <br> <br> 
    <br> 
    <br> 
    <br> 
    <app-footer></app-footer>
