<div class="container-xxl position-relative bg-white d-flex p-0">

    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a href="index.html" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i></h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="../../../assets/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3">

                    <span>Admin</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a href="index.html" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                <div class="nav-item dropdown">
                    <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-home" aria-hidden="true"></i>Rental</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a routerLink="/listRentalOffers" routerLinkActive="active" class="dropdown-item">Rental Offer</a>

                        <a routerLink="/listRentalContrats" class="dropdown-item">Rental Contract</a>


                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fas fa-truck me-2"></i> Relocations
                    </a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="listfurnitureback" class="dropdown-item"><i class="fas fa-couch me-2"></i> Furnitures</a>
                        <a href="listrelocationback" class="dropdown-item"><i class="fas fa-truck-moving me-2"></i> Relocations</a>
                        <a href="listdeliveryback" class="dropdown-item"><i class="fas fa-shipping-fast me-2"></i> Deliverys</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-home" aria-hidden="true"></i>Plan</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a  routerLink="/listOffers" class="dropdown-item"> Plan Offer </a>
                        <a routerLink="/listcontractplan" class="dropdown-item">Plan Contract</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-home" aria-hidden="true"></i>Users</a>
                  <div class="dropdown-menu bg-transparent border-0">
                      <a  routerLink="/users" class="dropdown-item">List Of Users </a>
                      <a routerLink="/addusers" class="dropdown-item">Add User</a>
                  </div>
              </div>


                <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="signin.html" class="dropdown-item">Sign In</a>
                        <a href="signup.html" class="dropdown-item">Sign Up</a>
                        <a href="404.html" class="dropdown-item">404 Error</a>
                        <a href="blank.html" class="dropdown-item">Blank Page</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-forumbee" aria-hidden="true"></i>Forum</a>
                    <div class="dropdown-menu bg-transparent border-0">



                        <a  routerLink="/listcomment" class="dropdown-item"> <i class="fa fa-comment" aria-hidden="true"></i> comments </a>
                        <a  routerLink="/listpost" class="dropdown-item"> <i class="fa fa-comment-o" aria-hidden="true"></i> Post </a>


                        <a href="typography.html" class="dropdown-item"><i class="fa fa-star" aria-hidden="true"></i>reacts</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    </div>

    <!-- Sidebar End -->

