<style>
 
</style>
<app-navbar></app-navbar>

<app-sidebar></app-sidebar>
<!-- Content Start -->
<div class="content">

    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <div class="search-hero">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
                  </div>
                    <h3> List of contract Plan</h3>
            </div>
            <div class="table-responsive">
            
                <table class="table" >
                    <thead class="table-dark" style="border-radius: 20px;">
                        <tr >
                            <th scope="col">contractId</th>
                            <th scope="col">contractDate</th>
                            <th scope="col">price</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <tr *ngFor="let i of list | filter:searchText
                        | paginate
                            : {
                                itemsPerPage: tableSize,
                                currentPage: page,
                                totalItems: count
                              };
                        let x = index">
                            <td>{{ i.contractId }}</td>
                            <td>{{i.contractDate}}</td>
                            <td>{{i.price}}</td>
                            <td>{{i.statut}}</td>
                            <td style="text-align: center;">
                                <button  type="button" (click)="deleteContract(i.contractId)" class="btn btn-danger"> <i
                                        class="bi bi-trash-fill"></i>
                                </button>                           
                            </td>
                    



                        </tr>


                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                </div>

            </div>
        </div>
    </div>
    <!-- Recent Sales End -->
</div>