<!DOCTYPE html>
<html lang="zxx">

<!-- START SECTION HEADINGS -->
        <!-- Header Container
        ================================================== -->
        <header id="header-container" class="header head-tr" style="background-color: #303441;">
          <!-- Header -->
          <div id="header" class="head-tr bottom">
              <div class="container container-header">
                  <!-- Left Side Content -->
                  <div class="left-side">
                      <!-- Logo -->
                      <div id="logo">
                          <a href="index.html"><img src="../../../assets/images/logo-white-1.svg" data-sticky-logo="../../../assets/images/logo-red.svg" alt=""></a>
                      </div>
                      <!-- Mobile Navigation -->
                      <div class="mmenu-trigger">
                          <button class="hamburger hamburger--collapse" type="button">
                              <span class="hamburger-box">
            <span class="hamburger-inner"></span>
                              </span>
                          </button>
                      </div>
                      <!-- Main Navigation -->
                      <nav id="navigation" class="style-1 head-tr">
                          <ul id="responsive">
                                                            
                                  <li class="d-none d-xl-none d-block d-lg-block"><a href="login.html">Login</a></li>
                                  <li class="d-none d-xl-none d-block d-lg-block"><a href="register.html">Register</a></li>
                          </ul>
                      </nav>
                      <!-- Main Navigation / End -->
                  </div>
                  <!-- Left Side Content / End -->

                  <!-- Right Side Content / End -->
                  <div class="right-side d-none d-none d-lg-none d-xl-flex">
                      <!-- Header Widget -->


                      <!-- Header Widget / End -->
                  </div>
                  <!-- Right Side Content / End -->

                  <!-- Right Side Content / End -->

                  <!-- Right Side Content / End -->

                  <!-- Right Side Content / End -->

                      <!-- Header Widget / End -->
                  </div>
                  <div class="right-side d-none d-none d-lg-none d-xl-flex sign ml-0">
                      <!-- Header Widget -->
                      <div class="header-widget sign-in">
                          <div class="show-reg-form modal-open"><a routerLink="/login">Sign In</a></div>
                      </div>
                    </div>
                    <div class="right-side d-none d-none d-lg-none d-xl-flex sign ml-0">
                      <div class="header-widget sign-in">
                        <div class="show-reg-form modal-open"><a   routerLink="/register">Sign Up</a></div>
                    </div>
                  </div>
                      <!-- Header Widget / End -->

                  <!-- Right Side Content / End -->

                  <!-- lang-wrap-->
                  <div class="header-user-menu user-menu add d-none d-lg-none d-xl-flex">
                  </div>
                  <!-- lang-wrap end-->

              </div>

          <!-- Header / End -->

      </header>
      <div class="clearfix"></div>


<style>
  h6 {
    color: red;
  }
</style>
<body class="inner-pages hd-white">
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- START SECTION HEADINGS -->
        <!-- Header Container
        ================================================== -->
        <header id="header-container">
            <!-- Header -->
            <div id="header">
                <div class="container container-header">
                    <!-- Left Side Content -->
                    <div class="left-side">
                        <!-- Logo -->
                        <div id="logo">
                            <a href="index.html"><img src="images/logo-red.svg" alt=""></a>
                        </div>
                        <!-- Mobile Navigation -->


                    </div>

                    <div class="right-side d-none d-none d-lg-none d-xl-flex sign ml-0">
                        <!-- Header Widget -->
                        <div class="header-widget sign-in">
                            <div class="show-reg-form modal-open"><a href="#">Sign In</a></div>
                        </div>
                        <!-- Header Widget / End -->
                    </div>
                    <!-- Right Side Content / End -->

                    <!-- lang-wrap-->
                    <div class="header-user-menu user-menu add d-none d-lg-none d-xl-flex">
                        <div class="lang-wrap">
                            <div class="show-lang"><span><i class="fas fa-globe-americas"></i><strong>ENG</strong></span><i class="fa fa-caret-down arrlan"></i></div>
                            <ul class="lang-tooltip lang-action no-list-style">
                                <li><a href="#" class="current-lan" data-lantext="En">English</a></li>
                                <li><a href="#" data-lantext="Fr">Francais</a></li>
                                <li><a href="#" data-lantext="Es">Espanol</a></li>
                                <li><a href="#" data-lantext="De">Deutsch</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- lang-wrap end-->

                </div>
            </div>
            <!-- Header / End -->

        </header>
        <div class="clearfix"></div>
        <!-- Header Container / End -->

        <section class="headings">
            <div class="text-heading text-center">
                <div class="container">
                    <h1>Login</h1>
                    <h2><a href="index.html">Home </a> &nbsp;/&nbsp; login</h2>
                </div>
            </div>
        </section>
        <!-- END SECTION HEADINGS -->

        <!-- START SECTION LOGIN -->
        <div id="login">
            <div class="login">
                <form>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" >
                        <i class="icon_mail_alt"></i>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" id="password" name="password"  [(ngModel)]="password">
                        <i class="icon_lock_alt"></i>
                    </div>
                    <div class="fl-wrap filter-tags clearfix add_bottom_30">
                        <div class="checkboxes float-left">
                            <div class="filter-tags-wrap">
                                <input id="check-b" type="checkbox" name="check">
                                <label for="check-b">Remember me</label>
                            </div>
                        </div>
                        <div class="float-right mt-1"><a (click)="onTypeEmail()" id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
                    </div>

                    <div *ngIf="errorMessage" >
                      <h6>{{ errorMessage }}</h6></div>
                    <a (click)="onSubmit()" class="btn_1 rounded full-width">Login to Find Houses</a>
                    <div class="text-center add_top_10">New to Find Houses? <strong><a routerLink="/register">Sign up!</a></strong></div>
                </form>
            </div>
        </div>
        <!-- END SECTION LOGIN -->
        <app-footer></app-footer>
    </div>
    <!-- Wrapper / End -->
</body>
</html>
